.container {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: none;
}

.hidden-right {
  opacity: 0;
  transform: translateX(2.5rem);
}

.hidden-left {
  opacity: 0;
  transform: translateX(-2.5rem);
}
